:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-color: #2196f3;
  --background-color: #ffffff;
  --hero-color: #ffffff;
  --hover-color: #2196f3;
  --adress-color: rgba(255, 255, 255, 0.6);
  --grey-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --hero-button-hover: #188ce8;
  --hero-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --portfolio-border: 1px solid #eeeeee;
  --filter-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.title,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  margin-right: auto;
}
.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  margin-right: 93px;
}
.top-logo-studio {
  color: var(--title-text-color);
}
.bottom-logo-studio {
  color: var(--background-color);
}
.site-nav.list {
  display: flex;
}
.site-nav.list .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav.list .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav.list .item:last-child {
  margin-right: auto;
}
.site-nav.list .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav.list .link:hover,
.site-nav.list .link:focus {
  color: var(--hover-color);
}
.site-nav.list .link.current {
  color: var(--hover-color);
}
.contacts.list {
  display: flex;
}
.contacts.list .item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts.list .item:not(:last-child) {
  margin-right: 50px;
}
.contacts.list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts.list .link:hover,
.contacts.list .link:focus {
  color: var(--hover-color);
}
.hero {
  text-align: center;
  background-color: var(--hero-background-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 200px;
  margin-bottom: 94px;
}
.hero.title {
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-bottom: 0px;
}
.section.title {
  color: var(--title-text-color);
}
.hero-button {
  color: var(--background-color);
  background-color: var(--logo-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: var(--hero-button-shadow);
  padding: 10px 32px;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: var(--hero-button-hover);
}
.features.list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 94px;
  display: flex;
}
.features.list .item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  display: none;
}
.features.list .features.title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.section.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.sub-section.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.development.list {
  text-align: center;
  margin-bottom: 94px;
  display: flex;
}
.development.list .item:not(:last-child) {
  margin-right: 30px;
}
.team.title {
  background-color: var(--grey-background-color);
}
.team.list {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--grey-background-color);
  display: flex;
}
.team.list .item {
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team.list .item:not(:last-child) {
  margin-right: 30px;
}
.container.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.sub-section.title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.team.list p {
  margin-bottom: 30px;
}
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress.list {
  font-style: normal;
  background-color: var(--hero-background-color);
}
.adress.list .item:not(:last-child) {
  margin-bottom: 9px;
}
.tel-link,
.mail-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  text-decoration: none;
}
.adress-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
}
.adress-map:hover,
.adress-map:focus,
.tel-link:hover,
.tel-link:focus,
.mail-link:hover,
.mail-link:focus {
  color: var(--hover-color);
}
.filter-item {
  display: inline;
  color: var(--title-text-color);
}
.filter.list .button {
  background-color: var(--grey-background-color);
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}
.filter.list .button:hover,
.filter.list .button:focus {
  background-color: var(--hover-color);
  cursor: pointer;
  color: var(--background-color);
  box-shadow: var(--filter-button-shadow);
}
.filter.list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}
.filter-buttons {
  display: none;
}
.portfolio.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-decoration: none;
  margin: 20px 24px 4px 24px;
}
.portfolio.list {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio.list p {
  margin: 20px 24px;
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item {
  width: calc((100% - 60px) / 3);
  border: var(--portfolio-border);
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio.list .link {
  text-decoration: none;
  color: inherit;
}
.adress {
  margin-top: 20px;
}
