.checkbox__label {
    display: inline-flex;
    align-items: center;

    font-weight: $checkbox__label--font-weight;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: $checkbox__label--letter-spacing;
    color: $checkbox__label--color;

    margin-bottom: 30px;
    

    @media screen and (min-width: 1200px) {
        font-size: $checkbox__label--font-size;
        line-height: $checkbox__label--line-height;
        margin-left: 12px;
    }
    
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.checkbox__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;

    color: $title-text-color;
    fill: currentcolor;
    margin-right: 7px;

    transition-property: background-color, color, border-radius;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    
    .checkbox:checked + & {
    background: $hover-color;
    color: $hover-color;
    border-radius: 2px;
}
}

.checkbox__check-sign {
    display: flex;
    align-items: center;
    position: absolute;
}

.checkbox__link {
    display: inline;
    color: $hover-color;
    font-weight: $checkbox__label--font-weight;
    letter-spacing: $checkbox__label--letter-spacing;
    text-decoration: underline 1px $hover-color;
    text-underline-offset: 1px;
    font-size: 12px;
    line-height: 1.166;

    @media screen and (min-width: 1200px) {
        font-size: $checkbox__label--font-size;
        line-height: $checkbox__label--line-height;
    }
}