.contacts__list {
    display: none;
    vertical-align: middle;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: block;
        font-size: 12px;
        line-height: 1.166;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

.contacts__item {
    &:not(:last-child) {margin-right: 50px;}

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 10px;
            margin-right: 0;
        }}

        @media screen and (min-width: 1200px) {
            &:not(:last-child), &:last-child {margin-bottom: 0;}}
            &:not(:last-child) {margin-right: 30px;}
}

.contacts__link {
    font-weight: $contacts--font-weight;
    font-size: $contacts--font-size;
    line-height: $contacts--line-height;
    letter-spacing: $contacts--letter-spacing;
    color: $contacts--color;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover,
    &:focus {
        color: $hover-color;
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.contacts__icon {
    margin-right: 8px;
    vertical-align: middle;
    fill: currentcolor;

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}