.features__section {
    padding-bottom: 60px;

    
}

.features__list {
    font-size: $features__list--font-size;
    line-height: $features__list--line-height;
    letter-spacing: $features__list--letter-spacing;
    display: block;
    margin-bottom: 0px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.features__item {
    display: block;
    width: 100%;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (max-width: 767px) {
    &:not(:last-child)  {margin-bottom: 30px;}
    }

    @media screen and (min-width: 768px) {
    
    width: 354px;

    &:not(:nth-child(2n)) {
        margin-right: 30px;
    }
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
} 


.features__image {
    display: flex;
    height: 120px;
    
    background-color: $grey-background-color;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }
        @media screen and (min-width: 1200px) {
        width: 270px;
        
    }
}
.features__title {
    font-family: $sub-title--font-family;
    font-weight: $sub-title--font-weight;
    font-size: $sub-title--font-size;
    line-height: $sub-title--line-height;
    letter-spacing: $sub-title--letter-spacing;
    text-transform: $sub-title--text-transform;
    color: $title-text-color;
    margin-bottom: 10px;
}
