.hero {
    background-image: $mobile__hero--background-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 118px;
    padding-top: 118px;
    margin-left: inherit;
    margin-right: inherit;
    text-align: center;

    @media screen and (min-resolution: 2dppx) {
        background-image: $mobile__hero--background-image-2x;
    }

    @media screen and (min-width: 481px) {
        background-image: $tablet__hero--background-image;

        @media screen and (min-resolution: 2dppx) {
            background-image: $tablet__hero--background-image-2x;
        }
    }

    @media screen and (min-width: 769px) {
        background-image: $hero--background-image;
        padding-bottom: 200px;
        padding-top: 200px;
        
        @media screen and (min-resolution: 2dppx) {
            background-image: $hero--background-image-2x;
        }
    }

    @media screen and (min-width: 1600px) {
        background-size: 1600px;
    }
}

.hero__title {
    color: $hero__title--color;
    font-weight: $hero__title--font-weight;
    font-size: 26px;
    line-height: $hero__title--line-height;
    letter-spacing: $hero__title--letter-spacing;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: calc(1200px - 504px);
    background-image: inherit;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;

    @media screen and (min-width: 1200px) {
        font-size: $hero__title--font-size;
        max-width: 696px;
    }
}

.hero__button {
    color: $hero__button--color;
    background-color: $hero__button--background-color;
    font-family: $hero__button--font-family;
    font-weight: $hero__button--font-weight;
    font-size: $hero__button--font-size;
    line-height: $hero__button--line-height;
    letter-spacing: $hero__button--letter-spacing;
    border-radius: $hero__button--border-radius;
    box-shadow: $hero__button--box-shadow;
    padding: 10px 32px;
    border: none;
    text-align: center;

    transition-property: background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover, &:focus {cursor: pointer;
    background-color: $hero-button-hover;
    }
}