.logo {
    color: $logo-color;
    font-family: $logo-font-family;
    font-weight: $logo-font-weight;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: $page-letter-spacing;
    display: block;
    justify-items: center;
    
    @media screen and (min-width: 1200px) {
        font-size: $logo-font-size;
        line-height: $logo-line-height;
    }
}

.logo__text--black {
    color: $title-text-color;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
   
}

.logo__text--white {
    color: $background-color;
}