.social-media {
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin-right: calc(89px - 15px);
        margin-top: 0;
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        margin-left: 0;
    }
    
}

.social-media__title {
    font-family: $sub-title--font-family;
    font-weight: $sub-title--font-weight;
    font-size: $sub-title--font-size;
    line-height: $sub-title--line-height;
    letter-spacing: $sub-title--letter-spacing;
    text-transform: $sub-title--text-transform;
    color: $background-color;
    text-decoration: none;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}
.social-media__item {
    display: flex;
    color: $social-media__item--color;
    fill: currentcolor;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-media__list {
    display: flex;
    justify-content: center;
}

.social-media__link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition-property: background-color, color, fill;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    &:hover, &:focus {
        background-color: $hover-color;
        border-radius: 50%;
        color: $background-color;
        fill: $hover-color;
    }
}
.social-media__link--dark {
    color: $background-color;
    fill: $background-color;
    border: 0px solid $social-media__link--dark--background-color;
    border-radius: 50%;
    background-color: $social-media__link--dark--background-color;

    transition-property: background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover, &:focus {
        background-color: $hover-color;
    }
}
