.team__title {
    font-weight: $title--font-weight;
    font-size: $mobile--title--font-size;
    line-height: $mobile--title--line-height;
    letter-spacing: $title--letter-spacing;
    color: $title-text-color;
    
    text-align: center;
    display: block;
    margin-bottom: 30px;
    margin-top: 0;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: $title--font-size;
        line-height: $title--line-height;
    }
}

.team__section {
    background-color: $grey-background-color;
}

.team__list {
    font-size: $team__list--font-size;
    line-height: $team__list--line-height;
    letter-spacing: $team__list--letter-spacing;
    background-color: $grey-background-color;
    text-align: center;
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }

}

.team__image {
    display: block;
    width: auto;
    object-fit: cover;
    height: 460px;

    @media screen and (min-width:1200px) {
        height: 260px;
    }
}

.team__item {
    background-color: $background-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: $modal-window--box-shadow;
    text-align: center;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
    
        width: 354px;
        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }
        &:last-child {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
    
    &:not(:last-child) {
        margin-right: 30px;
        
    }
    &:not(:last-child), &:last-child {
        margin-bottom: 0;
    }
}
}

.team__label {
    font-weight: $team__label--font-weight;
    font-size: $team__label--font-size;
    line-height: $team__label--line-height;
    letter-spacing: $team__label--letter-spacing;
    color: $title-text-color;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 0px;
    
}

.team__text {
    font-weight: $team__text--font-weight;
    font-size: $team__label--font-size;
    line-height: $team__label--line-height;
    letter-spacing: $team__label--letter-spacing;
    color: $primary-text-color;
    margin-bottom: 16px;
    text-align: center;
}

.team__thumb {
    padding: 30px 32px;
}

